doctype html 
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../public/styles.css
      
    body
      .row.brown.lighten-5
        .col.s12.m2
          h1#logo.deep-orange.accent-2.black-text MJ
        .col.s0.m0.l8
          h1(style=" color: #ff6e40 ")= title

      .row
      .container
        .col.brown.lighten-5.hoverable
          .row
            h3(style=" color: #000000 ") Log In to tell your ideas!
            form(method="POST" action="/posts/login")
              .form-group.col.s10.offset-s1
                label(for='username') Username
                input#name.form-control(type='text' placeholder='Enter username here' name='loginuser')
              .form-group.col.s10.offset-s1
                label(for='pwd') Password
                input#password.form-control(type='password' placeholder='Enter password here' name='loginpassword')
              button.btn.deep-orange.accent-2.waves-effect.waves-light.black-text(type='submit') Log In
        
            p(style=" color: #000000 ") or
            form(method="POST" action="/getin")
              button.btn.deep-orange.accent-2.waves-effect.waves-light.black-text(type='submit' name='action') Sign up
            p/
      
      .row
      .container
        .col.brown.lighten-5.hoverable
          .row
            h5(style=" color: #000000 ") A wise man once said
            each post in post_list
              .row
                .col.s0.m0.l1
                p.left-align #{post.author}: #{post.content} - #{post.time} - #{post.date}
            else
              p(style=" color: #000000 ") ...
      
    
  br
  p © Markus Latvakoski 2020